  @import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@700&display=swap');
  
  @import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');


body{
    background-color:  #edf7ff;
}
  
  h1{
    font-family: 'MuseoModerno',cursive;
    font-size: 117px;
    color: #0a2ff1;
}
h2{
    font-family: 'Asap', sans-serif; 
    font-size: 52px;
    color: #0a2ff1;
}
p{
    font-family: 'Asap', sans-serif, bold; 
    font-size: 33px;
    color: #04146c;
}
h3{
    font-family: 'MuseoModerno',cursive;
    font-size: 48px;
    color: #0a2ff1;   
}
li{
    font-family: 'Asap', bold; 
    font-size: 33px;
    color: #04146c;
}
h4{
    font-family: 'MuseoModerno',cursive;
    font-size: 198px;
    color: #8a9af1;   
}